<ng-container *ngIf="!isThereAnyItemToShow">
    <div class="container">
    
        <div class="card-format">
            <p>My Cart</p>
        </div>
    
        <div class="center">
            <img src="https://www.kindpng.com/picc/m/72-725335_transparent-background-flying-bee-clipart-hd-png-download.png" 
            alt="Empty but there is a bee">
            <p style="font-size: 25px;">Your cart is empty but there is a bee.</p>
            <p style="font-size: 18px;"> Go back and get werever you want!</p>
            <div class="btn-shopping">
                        <button (click)="backToStore()" class="btn-generic" nz-button nzType="primary">Back to store!<i nz-icon nzType="shopping"></i></button>
                    </div>
        </div>
    </div>
</ng-container>

<div *ngIf="isThereAnyItemToShow">
    <ng-container  *ngFor="let item of productsList"> 
        <app-product-card [isCart]="true" [product]="item"></app-product-card>           
    </ng-container> 
</div>
