.store-picture{
    height: 150px !important;
    width: auto !important;
    padding: 10px;
}

.store-item-name{
    font-size: 15px;
    height: auto;
    color:#802c6e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100px;
}

.btn-shopping{
    display: flex;
    flex-direction: column;
    justify-content:flex-end; 
    align-items: center; 
    width: 100%;
}

.btn-generic{
    background-color:#802c6e; 
    border-width: 0px;
    border-radius: 5px;
}

.card{
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: grey;
    min-width: 300px;
    max-width: 450px;
    margin: 10px;
    height: 360px;
    text-align: center;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
